# Environment files (NEVER commit these!)
.env
.env.local
.env.production
backend/.env
frontend/.env
frontend/package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
backend/venv/
backend/requirements.txt

# Node
node_modules/
npm-debug.log*
dist/
build/
/frontend/node_modules/

# Docker
*.log


.readme