# fastapi==0.115.6
# uvicorn[standard]==0.32.1
# motor==3.6.0
# pymongo==4.10.1
# pydantic==2.10.3
# pydantic-settings==2.6.1
# python-jose[cryptography]==3.3.0
# httpx==0.28.1
# python-dotenv==1.0.1
# slowapi==0.1.9
# spacy==3.8.3
# python-dateutil==2.9.0
# groq==0.13.0
# requests==2.32.3
# beautifulsoup4==4.12.3
# python-multipart==0.0.20


fastapi
uvicorn[standard]
motor
pymongo
pydantic
pydantic-settings
python-jose[cryptography]
httpx
python-dotenv
slowapi
spacy
python-dateutil
groq
requests
beautifulsoup4
python-multipart
