annotated-types
anyio
certifi
cffi
clerk-backend-api
cryptography
exceptiongroup
gunicorn
h11
httpx
httpcore
idna
pydantic
pydantic_core
PyJWT
sniffio
typing-inspection
typing_extensions
python-dateutil
spacy
thinc
blis
groq
pycparser==2.23
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
blinker
cachelib
click
colorama
dnspython
dotenv
Flask
Flask-Caching
flask-cors
itsdangerous
Jinja2
MarkupSafe
pymongo
python-dotenv
Werkzeug

beautifulsoup4 
lxml
